@page
@model Details
@{
    ViewData["Title"] = "Detalle";
    Layout = "_Layout";
}

<h1>Detalle de la entrada</h1>
<hr />
<div class="row">
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.Record.Date)" class="form-label">Fecha</label>
        <input type="date" class="form-control" id="@nameof(Model.Record.Date)" value="@Model.Record.Date.ToString("yyyy-MM-dd")" readonly />
    </div>
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.Record.Handwriting)" class="form-label">Caligrafía</label>
        <input type="text" class="form-control" id="@nameof(Model.Record.Handwriting)" value="@Model.Record.Handwriting" readonly />
    </div>
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.Record.Pronunciation)" class="form-label">Pinyin</label>
        <input type="text" class="form-control" id="@nameof(Model.Record.Pronunciation)" value="@Model.Record.Pronunciation" readonly />
    </div>
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.Record.Meaning)" class="form-label">Significado</label>
        <input type="text" class="form-control" id="@nameof(Model.Record.Meaning)" value="@Model.Record.Meaning" readonly />
    </div>
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.Record.Category)" class="form-label">Categoría</label>
        <input type="text" class="form-control" id="@nameof(Model.Record.Category)" value="@Model.Record.Category" readonly />
    </div>
</div>
<hr />
@Html.HcListButton()
